.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s ease;
}

.switchers {
  position: absolute;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.translate {
  margin-top: 5px;
}

.sidebarBtn {
  position: absolute;
  bottom: 50px;
  right: -32px;
  z-index: 111;
}

.links {
  padding: 10px 0 0 30px;
  display: flex;
  flex-direction: column;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}
