.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.isLoading,
.error {
  height: 300px;
}

.editing {
  border-color: var(--inverted-primary-color);
}

.select {
  margin-top: 10px;
}
