:root {
  --bg-color: #878686;
  --inverted-bg-color: blue;
  --primary-color: #1212b0;
  --secondary-color: #0d0dce;
  --inverted-primary-color: green;
  --inverted-secondary-color: green;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;
  --card-bg: #4f4e4e;
}
