.app_orange_theme {
  --bg-color: #ffff2a;
  --inverted-bg-color: #fbfbf4;
  --primary-color: #fbfbf4;
  --secondary-color: #ff6a00;
  --inverted-primary-color: #ff6a00;
  --inverted-secondary-color: #fbfbf4;
}
