.Navbar {
  width: 100%;
  height: var(--navbar-height);
  padding: 30px;
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
}

.loginBtn {
  margin-left: auto;
}

.appTitle {
  margin-left: 10px;
}

.createArticleBtn {
  margin-left: 15px;
}
