.Navbar {
  width: 100%;
  height: var(--navbar-height);
  padding: 30px;
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
}

.links {
  margin-left: auto;
}

.link {
  margin-left: 15px;
  &:first-child {
    margin-left: 0;
  }
}