.starEmpty {
  cursor: pointer;
}

.StarRating {
  .normal {
    fill: none;
  }

  .hovered {
    fill: var(--primary-color);
  }
}

.selected {
  cursor: default;
}

.StarRatingRedesigned {
  .normal {
    fill: none;
  }

  .hovered {
    fill: var(--icon-redesigned);
  }
}
