.ArticleDetail {
  min-height: 100%;
}

.avatar {
  margin: 0 auto 15px;
}

.skeleton {
  margin-top: 15px;
}

.icon {
  margin-right: 8px;
}

.articleInfo {
  display: flex;
  align-items: center;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.block {
  margin-top: 16px;
}
